@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B0908;
  --foreground: #F2EFEA;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
